.final-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  color: var(--white);
  line-height: 1.2;
  font-weight: 500;
}

.score-header {
  font-size: 2rem;
}

.score-header span {
  color: var(--white);
  font-weight: bold;
}

.final-score {
  font-size: 4rem;
}

.high-score {
  font-weight: normal;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  color: var(--white);
  /* box-shadow: 0 3px 16px 0 rgba(255, 81, 85, 0.8); */
  border-radius: 50%;
  opacity: 1;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.high-score::after {
  content: '<-click to claim your prize';
  position: absolute;
  color: var(--lightRed);
  font-size: 1rem;
  width: 100%;
}

.high-score:hover {
  font-weight: normal;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  color: var(--white);
  /* box-shadow: 0 3px 16px 0 rgba(255, 81, 85, 0.8); */
  border-radius: 50%;
  opacity: 1;
  animation: none;
}

.end-game-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--lightRed);
  /* box-shadow: none */
  border: none;
  outline: none;
  border-radius: 15px;
  /* height: 4rem; */
  padding: 1rem;
}

.button-image {
  padding-right: 1.5rem;
  height: 2rem;
}

.quit-game-container {
  width: 100%;
}
