@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'KnewaveRegular';
  src: url('./assets/knewave-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after,
*:after {
  box-sizing: border-box;
}

#root {
  --lightRed: #ff5155;
  --white: #fff;
  --coolGrey: #97a5a7;
  --everGreen: #032228;
  --rightChar: #54ba18;
  --wrongChar: #445298;
  --timerDimension: 250px;
  background-image: url('./assets/background.svg');
  background-size: auto;
  background-repeat: no-repeat;
  object-fit: contain;
  font-family: 'KnewaveRegular', sans-serif;
}

html {
  height: 100%;
  overflow: auto;
}

body {
  min-height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.App {
  width: 100%;
  height: 100vh;
  margin: 0;
  justify-content: center;
  display: flex;
  color: var(--lightRed);
  background-image: linear-gradient(#000, rgba(1, 30, 36, 0.87));
  display: flex;
}

.uppercase {
  font-family: 'KnewaveRegular', sans-serif;

  text-transform: uppercase;
}
.user-input {
  /* width: 100%; */
  height: 4rem;
  border-radius: 15px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  border: solid 1px var(--coolGrey);
  outline: none;
}

.user-input:hover,
.user-input:focus {
  border: solid 1px var(--lightRed);
}

.user-input-text {
  background-color: var(--coolGrey);
  color: var(--everGreen);
  font-size: 2rem;
  /* margin-bottom: 1.5rem; */
}
.user-input-text::placeholder {
  color: var(--everGreen);
  padding: 1rem;
}

.required:focus {
  /* box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8); */
  box-shadow: 0 3px 16px 0 rgba(255, 81, 85, 0.8);
}

.button {
  border: 0;
  background: none;
  color: var(--lightRed);
  font-weight: bold;
  position: relative;
  outline: none;
  box-sizing: border-box;
}

.button:focus,
.button:hover {
  cursor: pointer;
  /* box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8); */
}

.button::before,
.button::after {
  box-sizing: inherit;
  position: absolute;
  content: '';
  border-bottom: 2px solid transparent;
  width: 0;
  height: 0;
}

.button::after {
  bottom: 0;
  right: 50;
}

.button::before {
  top: 0;
  left: 0;
}

.button:hover::before,
.button:hover::after,
.button:focus::before,
.button:focus::after {
  width: 75%;
  height: 100%;
}

.button:focus::after,
.button:hover::after {
  border-bottom-color: var(--lightRed);
  transition: width 0.3s ease-out 0.2s;
}

.game-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2% 2%;
}
